.App {
  text-align: center; 
}

.App-logo {
  height: 130px;
}

.App-header {
  background-color: #ffffff;
/*  height: 150px;
  padding: 10px;*/
  margin-bottom:30px;
  margin-top:50px;
}

.App-intro {
  font-size: large;
}


.demoForm {
  width: 80%;
  margin: auto;
}

@media screen and (min-width: 480px) {
    .demoForm {
        width:40%;
        margin: auto;
    }
}